<div class="newsComp">
  <h2 class="newsTitle">_</h2>
  <h2 class="newsTitle">NEWS</h2>
  <!-- First row of links -->
  <div class="row" id="news01">
    <div class="col" id="col1A">
      <br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br>
      <br><br>
      <hr>
    </div>
    <div class="col" id="col1B">

    </div>
    <div class="col" id="col1C">

    </div>

  </div>
  <!-- Second row of links -->
  <div class="row" id="news01">
    <div class="col" id="col2A">
      <br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br>
      <br><br>
      <hr>
    </div>
    <div class="col" id="col2B">

    </div>
    <div class="col" id="col2C">

    </div>

  </div>

</div>
