<div class="container">

<div class="nav-button pull-right visible-sm visible-xs stagger-item" style>
  <div class="row">
    <div class="col">
      _
      <h2>GLOBAL ASSESSMENT</h2>
      <p>A measure of ocean health across countries and high seas regions.</p>
      <button type="button" name="button">GLOBAL SCORES</button>
      <button type="button" name="button">METHODOLOGY</button>

    </div>
    <div class="col">
      <h2>INDEPENDENT ASSESSMENTS</h2>
      <p>OHI+ is an assessment tool customized by stakeholders to meet local management needs.</p>
      <button type="button" name="button">OHI+ ASSESSMENTS</button>
      <button type="button" name="button">CONDUCT AN ASSESSMENT</button>
    </div>
  </div>
</div>
</div>
