<div class="imageWater">
  <div class="row">
  <div class="col">
    <div class="image01">
    <h2 class="bannerTitle">_</h2>
    <h2 class="bannerTitle">GLOBAL<br> ASSESSMENT</h2>
    <p class="bannerCopy">A measure of ocean health across countries and high seas regions.</p>
    <button class="md-button" type="button" name="button">GLOBAL SCORES</button>
    <button class="md-button" type="button" name="button">METHODOLOGY</button>
    </div>
  </div>

  <div class="col">
    <div class="image02">
    <h2 class="bannerTitle2">_</h2>
    <h2 class="bannerTitle2">INDEPENDENT<br> ASSESSMENTS</h2>
    <p class="bannerCopy2">OHI+ is an assessment tool customized by stakeholders to meet local management needs.</p>
    <button class="md-button2" type="button" name="button">OHI+ ASSESSMENTS</button>
    <button class="md-button2" type="button" name="button">CONDUCT AN ASSESSMENT</button>
    <!-- <section class="home-wrap">
      <div class="bg-home" style="transform: matrix(1, 0, 0, 1, 0, -1);">
        <img src="jellyfish.png" alt="">
      </div>
    </section> -->
    </div>
  </div>


</div>
</div>
